
@{
    ViewBag.Title = "系统消息";
    Layout = "~/Views/Shared/_LayoutCASAdmin.cshtml";
}

<h2>系统消息</h2>

<div class="panel panel-default">
    <div class="panel-heading">活动列表</div>
    <div style="margin:0 10px">
        <table class="table table-hover" style="margin:0">
            <tr>
                <th>#</th>
                <th>标题</th>
                <th>发送者</th>
                <th>时间</th>
                <th>详情</th>
            </tr>
            <tr>
                <td>2</td>
                <td>欢迎使用普拉网</td>
                <td>杨阳洋</td>
                <td>2017/11/9 08:46:23</td>
                <td><a href="javascript:alert('这里应该弹出一个模态框，可以查看消息详情')">查看</a></td>
            </tr>
            <tr>
                <td>3</td>
                <td>收到一个审核任务</td>
                <td>杨阳洋</td>
                <td>2017/11/9 08:46:23</td>
                <td><a href="javascript:alert('这里应该弹出一个模态框，可以查看消息详情')">查看</a></td>
            </tr>
            <tr>
                <td>4</td>
                <td>有一个未提交任务</td>
                <td>杨阳洋</td>
                <td>2017/11/9 08:46:23</td>
                <td><a href="javascript:alert('这里应该弹出一个模态框，可以查看消息详情')">查看</a></td>
            </tr>
            <tr>
                <td>5</td>
                <td>收到一个确认任务</td>
                <td>杨阳洋</td>
                <td>2017/11/9 08:46:23</td>
                <td><a href="javascript:alert('这里应该弹出一个模态框，可以查看消息详情')">查看</a></td>
            </tr>
        </table>
    </div>
    <div class="panel-footer" style="background-color:white">
        <ul class="pagination pagination-sm" style="margin:0">
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">...</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
        </ul>
    </div>
</div>