
@{
    ViewBag.Title = "超级管理员首页";
    Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml";
}

<h2>首页</h2>

1.展示一些快速结果，如管理员多少，日志多少(报错多少)，<a href="@Url.Action("ResetPassword", "Account")">修改密码</a> 等
<br />
<br />
<br />
如：
<br />
<img style="max-width:100%" src="~/Content/Image/SuperIndex.png" />