
@{
    ViewBag.Title = "管理系统日志";
    Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml";
}

<h2>管理系统日志</h2>

<div class="panel panel-default">
    <div class="panel-heading">系统日志列表</div>
    <div style="margin:0 10px">
        <table class="table table-hover" style="margin:0">
            <tr>
                <th>#</th>
                <th>标题</th>
                <th>操作者</th>
                <th>IP地址</th>
                <th>IP所在地</th>
                <th>操作时间</th>
                <th>操作</th>
            </tr>
            <tr>
                <td>2</td>
                <td>登录成功</td>
                <td>x40001</td>
                <td>10.3.53.26</td>
                <td>四川成都电信</td>
                <td>2017/11/7 15:00:11</td>
                <td>
                    <a class="btn-xs" href="javascript:alert('此处应该弹出一个模态框，显示详细信息')"><i class="glyphicon glyphicon-eye-open" aria-label="查看" aria-hidden="true"></i></a>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>登录成功</td>
                <td>x40001</td>
                <td>10.3.53.26</td>
                <td>四川成都电信</td>
                <td>2017/11/7 15:00:11</td>
                <td>
                    <a class="btn-xs" href="javascript:alert('此处应该弹出一个模态框，显示详细信息')"><i class="glyphicon glyphicon-eye-open" aria-label="查看" aria-hidden="true"></i></a>
                </td>
            </tr>
            <tr>
                <td>4</td>
                <td>登录成功</td>
                <td>x40001</td>
                <td>10.3.53.26</td>
                <td>四川成都电信</td>
                <td>2017/11/7 15:00:11</td>
                <td>
                    <a class="btn-xs" href="javascript:alert('此处应该弹出一个模态框，显示详细信息')"><i class="glyphicon glyphicon-eye-open" aria-label="查看" aria-hidden="true"></i></a>
                </td>
            </tr>
            <tr>
                <td>5</td>
                <td>登录成功</td>
                <td>x40001</td>
                <td>10.3.53.26</td>
                <td>四川成都电信</td>
                <td>2017/11/7 15:00:11</td>
                <td>
                    <a class="btn-xs" href="javascript:alert('此处应该弹出一个模态框，显示详细信息')"><i class="glyphicon glyphicon-eye-open" aria-label="查看" aria-hidden="true"></i></a>
                </td>
            </tr>
            <tr>
                <td>6</td>
                <td>登录成功</td>
                <td>x40001</td>
                <td>10.3.53.26</td>
                <td>四川成都电信</td>
                <td>2017/11/7 15:00:11</td>
                <td>
                    <a class="btn-xs" href="javascript:alert('此处应该弹出一个模态框，显示详细信息')"><i class="glyphicon glyphicon-eye-open" aria-label="查看" aria-hidden="true"></i></a>
                </td>
            </tr>
        </table>
    </div>
    <div class="panel-footer" style="background-color:white">
        <ul class="pagination pagination-sm" style="margin:0">
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">...</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
        </ul>
    </div>
</div>