
@{
    ViewBag.Title = "企业信息";
    Layout = "~/Views/Shared/_LayoutUsers.cshtml";
}

<h2>企业信息</h2>
<ol>
    <li>企业名称</li>
    <li>所在地</li>
    <li>负责人及联系方式</li>
    <li>营业执照（图片）</li>
    <li>等等...</li>
</ol>