@{
    ViewBag.Title = "主页";
}

<div class="jumbotron">
    <h1>普拉网</h1>
    <p class="lead">本产品在市场中虽处于较为不成熟的状态，但其运营模式却是独树一帜的，以双方都能各得其所为主要目的，竞争优势明显。</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>各大高校的特点</h2>
        <p>
            设有外联社团部门等，有独立间接的负责机构；
            定期举办各种各样的活动、讲座、招聘形式类；
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>企事业单位的特点</h2>
        <p>
            拥有充足的资金来源，独立的单位机构；
            在大学生群体中对企业的宣传途径较为缺乏，宣传对象不明确；
            有稳定的运营机制，可长期达成合作关系；
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>