
@{
    ViewBag.Title = "审核活动";
    Layout = "~/Views/Shared/_LayoutCASAdmin.cshtml";
}

<h2>审核活动</h2>

一.活动介绍
<ol>
    <li>活动名称</li>
    <li>活动简介</li>
    <li>策划书（文件docx、doc、pdf）（选择性上传）</li>
    <li>开始时间(时间选择、校验)</li>
    <li>结束时间(时间选择、校验)</li>
    <li>主办及承办方</li>
    <li>预计规模</li>
    <li>所需资金</li>
    <li>负责人</li>
    <li>联系方式</li>
</ol>
<br />
@using (Html.BeginForm("ActAuditPass", "Admin", new { id = 2 }, FormMethod.Post, new { id = "auditForm" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label>不通过原因</label>
        <textarea name="reason" class="form-control" rows="2"></textarea>
    </div>
    <button type="submit" class="btn btn-success">通过</button>
    <button type="submit" onclick="javascript:$('#auditForm').attr('action','@Url.Action("ActAuditNotPass", "Admin", new { id = 2 })')" class="btn btn-danger">不通过</button>
}