
@{
    ViewBag.Title = "确认组织";
    Layout = "~/Views/Shared/_LayoutCASAdmin.cshtml";
}

<h2>四川农业大学社联</h2>

显示组织详情：
<ol>
    <li>学生组织名称</li>
    <li>学生组织性质</li>
    <li>负责人及联系方式</li>
    <li>等等...</li>
</ol>

<br />
@using (Html.BeginForm("CpyComfirmPass", "Admin", new { id = 2 }, FormMethod.Post, new { id = "confirmForm" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label>不通过原因</label>
        <textarea name="reason" class="form-control" rows="2"></textarea>
    </div>
    <button type="submit" class="btn btn-success">通过</button>
    <button type="submit" onclick="javascript:$('#confirmForm').attr('action','@Url.Action("CpyComfirmNotPass", "Admin", new { id = 2 })')" class="btn btn-danger">不通过</button>
}