
@{
    ViewBag.Title = "个人首页";
    Layout = "~/Views/Shared/_LayoutCASAdmin.cshtml";
}

<h2>首页</h2>

1.展示一些快速结果，如校园大使多少，学校多少，企业多少，未审核学校多少，未审核企业多少，未确认组织多少，新成交多少单，成交总金额多少，<a href="@Url.Action("ResetPassword", "Account")">修改密码</a> 等
<br />
<br />
<br />
如：
<br />
<img style="max-width:100%" src="~/Content/Image/SuperIndex.png" />